In [4]:
import sqlite3
con = sqlite3.connect("zoo.db")

cur = con.cursor()

In [5]:
cur.execute("CREATE TABLE animals(name, age, gender)")

response = cur.execute("SELECT name FROM sqlite_master")
response.fetchone()

('animals',)

In [7]:
cur.execute("""
    INSERT INTO animals VALUES
        ('Elephant', 23, 'male'),
        ('Lion', 14, 'female'),
        ('Giraffe', 7, 'male')
""")
con.commit()

res = cur.execute("SELECT name FROM animals")
res.fetchall()

[('Elephant',),
 ('Lion',),
 ('Giraffe',),
 ('Elephant',),
 ('Lion',),
 ('Giraffe',)]